@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, b, blockquote, body, canvas, caption, code, div, em, embed, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, main, nav, object, ol, p, pre, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html, body {
  background-color: #242D30;
  color: #dde2e4;
  font-family: 'Source Code Pro', monospace;
}

header {
  outline: 1px dashed orangered;
  position: relative;
  display: none;
  height: 100px;
  width: 100%;
}

header #title {
  outline: 1px dashed orangered;
  display: inline-block;
  font-size: 68px;
  margin: auto;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  width: 80%;
}

#gridOptions {
  display: inline-block;
  width: 300px;
  background-color: #305866;
  padding: 20px 40px;
}

#gridOptions .button {
  outline: 2px solid #057199;
  background-color: #057199;
  height: 50px;
  margin: 20px auto;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  padding: 0 10px;
}

#gridOptions .button:hover {
  background-color: transparent;
  cursor: pointer;
}

#gridOptions #gColor {
  -webkit-appearance: none;
  border: none;
  height: 35px;
  width: 100%;
  margin: 20px auto;
}

#gridOptions #gColor::-webkit-color-swatch-wrapper {
  padding: 0;
}

#gridOptions #gColor::-webkit-color-swatch {
  border: none;
}

#gridOptions .colorpick-eyedropper-input-trigger {
  display: none;
}

#gridOptions #gSize {
  height: 4px;
  width: 220px;
  border-radius: 10px;
  background-color: rgba(221, 226, 228, 0.3);
  -webkit-appearance: none;
}

#gridOptions #gSize::-webkit-slider-runnable-track {
  height: 15px;
  -webkit-appearance: none;
  color: #057199;
  margin-top: -1px;
}

#gridOptions #gSize::-webkit-slider-thumb {
  height: 15px;
  width: 8px;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #057199;
  -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.8);
          box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.8);
}

#grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: (1fr)[16];
      grid-template-rows: repeat(16, 1fr);
  height: 600px;
  width: 600px;
  background-color: #3e6775;
  border: 7px solid #305866;
  border-radius: 2px;
  z-index: -1;
}

#grid .square {
  display: inline-block;
  outline: 0.01em solid #057199;
}

.square {
  display: inline-block;
  z-index: 1;
}

.square:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.colored {
  background-color: #dde2e4;
}
/*# sourceMappingURL=styles.css.map */