@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, b, blockquote, body, canvas, caption, code, div, em, embed, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, main, nav, object, ol, p, pre, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html, body {
  background-color: #242D30;
  color: #dde2e4;
  font-family: 'Source Code Pro', monospace;
}

header {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #057199;
}

header #title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 68px;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  width: 80%;
}

#gridOptions {
  display: inline-block;
  width: 300px;
  background-color: #305866;
  padding: 20px 40px;
}

#gridOptions .button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  outline: 2px solid #057199;
  background-color: #057199;
  height: 50px;
  margin: 20px auto;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  padding: 0 10px;
}

#gridOptions .button:hover {
  background-color: transparent;
  cursor: pointer;
}

#gridOptions .color-picker {
  -webkit-appearance: none;
  border: none;
  height: 35px;
  width: 100%;
  margin: 20px auto;
}

#gridOptions .color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#gridOptions .color-picker::-webkit-color-swatch {
  border: none;
}

#gridOptions .colorpick-eyedropper-input-trigger {
  display: none;
}

#gridOptions #gSize {
  height: 4px;
  width: 220px;
  border-radius: 10px;
  background-color: rgba(221, 226, 228, 0.3);
  -webkit-appearance: none;
}

#gridOptions #gSize::-webkit-slider-runnable-track {
  height: 15px;
  -webkit-appearance: none;
  color: #057199;
  margin-top: -1px;
}

#gridOptions #gSize::-webkit-slider-thumb {
  height: 15px;
  width: 8px;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #057199;
  -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.8);
          box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.8);
}

#grid {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: (1fr)[16];
      grid-template-rows: repeat(16, 1fr);
  height: 600px;
  width: 600px;
  background-color: #3e6775;
  border: 7px solid #305866;
  border-radius: 2px;
  z-index: -1;
}

#grid .square {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  display: inline-block;
  outline: 0.01em solid rgba(158, 158, 158, 0.5);
}

.no-outline {
  outline: none !important;
}

.square {
  display: inline-block;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  z-index: 1;
}

.square:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.colored {
  background-color: #dde2e4;
}

@media only screen and (max-width: 600px) {
  header {
    height: 60px;
  }
  header #title {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 28px;
  }
  main {
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #gridOptions {
    display: inline-block;
    width: 260px;
    margin: 20px 0;
    padding: 10px 30px;
  }
  #gridOptions .button {
    height: 30px;
    margin: 15px auto;
    line-height: 30px;
    font-size: 16px;
    padding: 0 10px;
  }
  #gridOptions #gSize {
    width: 190px;
  }
  #grid {
    height: 300px;
    width: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */